.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 3%;
}

.container .title {
  color: #fff;
  font-size: 2.5rem;
  text-align: center;
  margin: 2rem 0 1rem;  
}

.moviesContainer{
  position: relative;
  left: 8.7%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 90%;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.pagination span {
  cursor: pointer;
  margin: 0 0.5rem;
  color: #fff;
  font-size: 1.2rem;
}

.pagination span.active {
  font-weight: bold;
}


@media only screen and (min-width: 320px) and (max-width: 800px) {
  .moviesContainer{
    justify-content: center;
    left: 5%;
    gap: 20px;
  }

  .movie-card img{
    height: 400px;
    width: 300px;
  }
}