main{
    background-image: url(../imgs/galery.jpg);
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .modal{
    background-color: rgba(18, 18, 18, 0.7);
    padding: 10%;
    text-align: center;
    border-radius: 10px;
}

main h2, main p{
    font-size: 40px;
    color: aliceblue;
    
}